name: Check Spelling

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-spelling:
    runs-on: ubuntu-latest
    steps:
      - name: GitHub Spellcheck Action
        uses: rojopolis/spellcheck-github-actions@0.58.0
        with:
          files: "**/*.java"
